accelerate
aiofiles
aiohttp
aiosignal
aiosqlite
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
braceexpand
certifi
cffi
chardet
charset-normalizer
click
cmake
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
docker-pycreds
einops
einops-exts
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
ftfy
geotorch
gitdb
GitPython
huggingface-hub
idna
inflection
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
kiwisolver
lit
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
mpmath
multidict
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
open-clip-torch
overrides
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycocoevalcap
pycocotools
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
regex
requests
responses
rfc3339-validator
rfc3986-validator
robustbench @ git+https://github.com/RobustBench/robustbench.git@e67e4225facde47be6a41ed78b576076e8b90cc5
scikit-learn
scipy
Send2Trash
sentencepiece
sentry-sdk
setproctitle
shortuuid
six
smmap
sniffio
soupsieve
stack-data
sympy
terminado
timm
tinycss2
tokenizers
torch
torchdiffeq
torchvision
tornado
tqdm
traitlets
transformers @ git+https://github.com/huggingface/transformers@d3cbc997a231098cca81ac27fd3028a5536abe67
triton
typing_extensions
tzdata
uri-template
urllib3
wandb
wcwidth
webcolors
webdataset
webencodings
websocket-client
xxhash
y-py
yarl
ypy-websocket
